.ReAuth.cfg
.mixin.out/
BiomeDump.txt
BotaniaVars.dat
OpenComputers*
acmedia/
asm/
betweenlands_gallery/
*.log
crash-reports/
fonts/
journeymap/
llibrary/
local/
logs/
minecraftinstance.json
mods/
patchouli_data.json
saves/
screenshots/
usercache.json
usernamecache.json
valkyrielib/
server.dat
natives/